.general-card {
    background: linear-gradient(90deg, rgba(85,114,171,1) 0%, rgba(133,169,238,1) 100%);
    color: white;
}

.basic-info-card {
    background: linear-gradient(135deg,#f8aa14 2%,#f9d98c 98%);
    color: black;
}

.basic-info-card > h1 {
    font-weight: bold;
}

.education-card {
    background: linear-gradient(135deg,#2c52b2 2%,#5d88f3 98%);
    color: white;
}

.tecnology-card {
    background: linear-gradient(135deg,#9d3030 2%,#e35050 98%);
    color: white;
}


.demography-card {
    background: linear-gradient(135deg,#0b8f20 2%,#1ab032 98%);
    color: white;
}