
a:link {
    text-decoration: none;

}

a:hover {
    --bs-link-hover-color: #113f67;
}

a {
    --bs-link-color: white ;
    
    word-spacing: 3px;
}

footer {
    background-color: #aab1da;
    margin-top: 80px;
    padding-bottom: 0 !important;
}

@media screen and (max-width: 1200px) {
    .content > ul > li > a {
        font-size: 0.9rem !important;
    }
}
  