.offcanvas{
    --bs-offcanvas-bg: #111c32f5 !important;
    --bs-offcanvas-padding-x: 3rem !important;
    --bs-offcanvas-padding-y: 0.8rem !important;
    opacity: 1.0;
}



#navbar-container {
    margin-top: 0;    
    --bs-navbar-toggler-focus-width: 0rem;
  }

.navbar-nav {
    --bs-nav-link-hover-color: #33A7FF !important;
    font-size: 1.31538rem;
    font-weight: 700;
    font-family: 'Roboto' sans-serif;
    color: white;
}

.nav-link {
    border-bottom-style: solid !important;
    border-bottom-width: 1px;
    border-bottom-color: rgb(209, 209, 209);
    margin: 10px;
}

.navbar-toggler { 
    --bs-navbar-toggler-icon-bg: url("../../assets/menu.png");
}

.navbar-toggler:hover { 
   background-color: #bbbbbb4e;
}





